.no-caret::after {
  display: none !important;
}

.show-dropdown {
  display: block;
  width: 100vw;
  left: 0 !important;
  height: 300px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 100%; /* place below the button */
  z-index: 1000;
  border: 1px solid #dee2e6;
  background-color: #fff;
 
}
.border-end {
  border-right: 1px solid #ccc;
   overflow: visible; /* Light gray vertical line */
}
.s-dropdown{
   display: block;
  width: 100vw;
  left: 0 !important;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 100%; /* place below the button */
  z-index: 1000;
  border: 1px solid #dee2e6;
  background-color: #fff;
}
.form-control-lg {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.1rem;
  padding-left: 15px;
  transition: all 0.3s ease;
}
#default{
  display: none;
}
#b-hide{
  display: none;
}

.sidebar-enter {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.sidebar-enter-active {
  transform: translateX(0);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: darkcyan;
  color: black;
  z-index: 9999;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}
@media (max-width: 768px) {
  #b-hide{
    display: block;
  }
  #hide{
    display: none;
  }
  #view{
    display: flex;
    justify-content: space-evenly;
  }
  #default{
    display: block;
  }
}
@media(max-width: 400px) {
#only{
  display: none;
} 
}


