.no-caret::after {
  display: none !important;
}

.show-dropdown {
  display: block;
  width: 100vw;
  left: 0 !important;
  height: 300px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 100%; /* place below the button */
  z-index: 1000;
  border: 1px solid #dee2e6;
  background-color: #fff;
 
}
.border-end {
  border-right: 1px solid #ccc;
   overflow: visible; /* Light gray vertical line */
}
.s-dropdown{
   display: block;
  width: 100vw;
  left: 0 !important;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 100%; /* place below the button */
  z-index: 1000;
  border: 1px solid #dee2e6;
  background-color: #fff;
}
.form-control-lg {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.1rem;
  padding-left: 15px;
  transition: all 0.3s ease;
}
